<!-- Page Content (header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row sm-2">
            <!-- Título -->
            <div class="col-sm-6">
                <h1>Exibir documento contábil</h1>
            </div>
            <!-- Navegação histórica -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                    <li class="breadcrumb-item active">FB03</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Page Content (conteúdo) -->
<section class="content">
    <div class="container-fluid">
        <!-- Filtragem avançada -->
        <div class="row">
            <div class="col-sm-12">
                <div class="content-collapse">
                    <a data-toggle style="color: white;padding-left: 20px;"><i class="fas fa-filter" style="color: white;padding-right: 10px;"></i>Filtros</a>
                  
                </div>
            </div>
        </div>

        <!-- CRUD -->
        <div class="row">
            <div class="col-sm-12">

                <!-- Para iniciar fechado, adicione collapsed-card na class-->
                <div class="card card-primary card-outline">

                    <!-- ######################################################################### Cabeçalho -->
                    <div class="card-header">
                        <!-- Botões -->
                        <div class="btn-group">
                            <!-- Abre o modal para INSERT -->
                          
                        </div>

                        <div class="btn-group">
                            <!-- Botão para exportar dados da tabela (tableExport) -->
                            <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>

                            <!-- Exportar -->
                            <div class="dropdown-menu" role="menu">
                                <!-- Exportar para Excel -->
                                <a class="dropdown-item" style="cursor: pointer;" onclick="(function(){
                                    $('#TBtableBigData').tableExport({type:'excel', fileName: 'FB03', exportHiddenCells: true, ignoreColumn:'[8]'});                
                                })()"><i class="fas fa-file-excel" style="color: #118311;"></i>&nbsp;&nbsp;Ms-Excel</a>
                                <!-- Exportar para PDF -->
                                <a class="dropdown-item" style="cursor: pointer;" onclick="(function(){
                                    $('#TBtableBigData').tableExport({type:'pdf', fileName: 'FB03', exportHiddenCells: true, ignoreColumn:'[8]'});                
                                })()"><i class="fas fa-file-pdf" style="color: #d17021;"></i>&nbsp;&nbsp;PDF</a>
                            </div>
                        </div>

                        <!-- Botão Ocultar ou exibir o card -->
                        <div class="card-tools">
                            <!-- Botão Abrir/fechar card (Icone: fa-minus ou fa-plus) -->
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- Botão destruir card -->
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>

                    </div>

                    <!-- ######################################################################### Tabela -->
                    <div class="card-body">
                        <% if (!Array.isArray(DTQualidade) || !DTQualidade.length) { %>
                        <!-- Não existe dados na tabela -->
                        
    
                        <% } else { %>
                            <table id="TBtableBigData" class="table table-hover" style="display: none;">
                                <!-- Paginação do BD -->
                                <div class="row" style="place-items: center;margin-top: -31px;margin-bottom: -17px;flex-flow: nowrap;">
                                    <% if (pageCount>= 1) { %>
                                    <!-- Texto lateral esquerdo mostrando a qtde de páginas -->
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" aria-live="polite">
                                            Página <%= currentPage %> de <%= pageCount %> de um total de <%= totalItens %> registros (<%= pageSize %> por página)
                                        </div>
                                    </div>

                                    <!-- Lista de botões superior direito para paginação -->
                                    <div class="col-sm-12 col-md-6" style="text-align-last: right;">
                                        <div class="dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <!-- Primeiro botão « -->
                                                <% if (currentPage>= 1) { %>
                                                    <li><a href="#" 
                                                        onclick="(function() {
                                                            window.location = '/fb03/?page=1' + 
                                                            '&[data]=' + document.getElementById('filter_Data').value + 
                                                            '&[turno]=' + document.getElementById('filter_Turno').value;
                                                        })()">&laquo;</a>
                                                    </li>
                                                <% } %>

                                                <!-- Segundo botão desabilitado caso páginação > 5 -->
                                                <% var i=1; if (currentPage> 5) { i = + currentPage -4;} %>
                                                <% if (i !==1) { %>
                                                    <li class="disabled"><a href="#">...</a></li>
                                                <% } %>

                                                <!-- Botões da paginação -->
                                                <% for (i; i <=pageCount; i++) { %>
                                                    <% if (currentPage==i) { %>
                                                        <!-- Página corrente -->
                                                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                                                    <% } else { %>
                                                        <!-- Demais páginas -->
                                                        <li><a href="#" 
                                                            onclick="(function() {
                                                                window.location = '/fb03/?page=<%= i %>' + 
                                                                '&[data]=' + document.getElementById('filter_Data').value + 
                                                                '&[turno]=' + document.getElementById('filter_Turno').value;
                                                            })()"><%= i %>
                                                            </a>
                                                        </li>
                                                    <% } %>

                                                    <!-- Mostra apenas 5 botões atras e a frente da página atual -->
                                                    <% if (i==(+currentPage +4)) { %>
                                                        <li class="disabled"><a href="#">...</a></li>
                                                    <% break; } %>
                                                <% } %>

                                                <!-- Último botão » -->
                                                <% if(currentPage !=pageCount) { %>
                                                    <li><a href="#" 
                                                        onclick="(function() {
                                                                window.location = '/fb03/?page=<%= pageCount %>' + 
                                                                '&[data]=' + document.getElementById('filter_Data').value + 
                                                                '&[turno]=' + document.getElementById('filter_Turno').value;
                                                        })()">&raquo;</a>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>

                                <!-- Cabeçalho: Titulos da tabela -->
                                <thead class="thead-light">                                    
                                    <th scope="col">Empresa</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Chave Lçto</th>
                                        <th scope="col">Conta</th>
                                        <th scope="col" >Denominaçao</th>
                                        <th scope="col">Centro Custo</th>
                                        <th scope="col">Doc.Compensacao</th>
                                        <th scope="col">Elm.PEP</th>
                                        <th scope="col">Montante</th>
                                        <th scope="col">Cod.Imposto</th>
                                        <th scope="col" style="width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">Texto</th>
                                        <th scope="col">Loc.Negocio</th>
                                </thead>

                                <tbody>
                                    <!-- Detalhes: Dados da tabela -->
                                    <% DTQualidade.forEach((row, index) => { %>                                        
                                            <tr>
                                                <td style="min-width: 30px;"><%= DTQualidade[index].bukrs.toString()%></td>                                                                                                                                    
                                                  
                                                <td><%= DTQualidade[index].buzei.toString() %></td>
                                                  
                                                  <td><%= DTQualidade[index].bschl.toString() %></td>
                                                  <td><%= DTQualidade[index].hkont.toString() %></td>
                                                  <td><%= DTQualidade[index].kidno.toString() %></td>
                                                  <td><%= DTQualidade[index].kostl.toString() %></td>
                                                  <td><%= DTQualidade[index].augbl.toString() %></td>
                                                  <td><%= DTQualidade[index].projk.toString() %></td>
                                                  <td><%= DTQualidade[index].wrbtr.toString() %></td>
                                                  <td><%= DTQualidade[index].mwskz.toString() %></td>
                                                  <td style="width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;"><%= DTQualidade[index].sgtxt.toString() %></td>
                                                  <td><%= DTQualidade[index].bupla.toString() %></td>
                                                  <!-- Coluna: Opções -->
                                                  
                                              </tr>                                                                                    
                                    <% }) %>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th scope="col">Empresa</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Chave Lçto</th>
                                        <th scope="col">Conta</th>
                                        <th scope="col">Denominaçao</th>
                                        <th scope="col">Centro Custo</th>
                                        <th scope="col">Doc.Compensacao</th>
                                        <th scope="col">Elm.PEP</th>
                                        <th scope="col">Montante</th>
                                        <th scope="col">Cod.Imposto</th>
                                        <th scope="col">Texto</th>
                                        <th scope="col">Loc.Negocio</th>
                                    </tr>
                                </tfoot>

                            </table>
                        <% } %>
                    </div>

                    <!-- ######################################################################### Modal para ADICIONAR -->
                    <div class="modal fade" id="modalADD" data-backdrop="static">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <!-- Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Adicionar</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <!-- Conteúdo central do modal -->
                                <form role="form" action="/addQualidade" method="post" enctype="multipart/form-data">
                                    <!-- Campos do formulário -->
                                    <div class="modal-body">                                        
                                        <div class="row">
                                            <!-- Cod -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="cod_ADD" class="label">Cod</label>
                                                    <input type="text" class="form-control form-control-sm" name="cod_ADD" id="cod_ADD" placeholder="Cod" readonly=“true”>
                                                </div>
                                            </div>

                                            <!-- Data -->
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="data_ADD" class="label">Data</label>
                                                    <div class="input-group date" id="data_ADD"
                                                        data-target-input="nearest">
                                                        <input type="text"
                                                            class="form-control form-control-sm datetimepicker-input date_times"
                                                            data-target="#data_ADD"
                                                            name="data_INPUT_ADD"
                                                            id="data_INPUT_ADD" required />
                                                        <div class="input-group-append"
                                                            data-target="#data_ADD"
                                                            data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Turno -->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="turno_ADD" class="label">Turno</label>
                                                    <select class="form-control form-control-sm select2"
                                                        style="width: 100%;" name="turno_ADD" id="turno_ADD" required>
                                                        <option value="">-- Selecione --</option>
                                                        <option value="T1">T1</option>
                                                        <option value="T2">T2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Quantidades -->
                                        <div class="row">
                                            <!-- avaria_interna -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="avaria_interna_ADD" class="label">Avaria interna</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="avaria_interna_ADD" id="avaria_interna_ADD"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>

                                            <!-- rnc_operador -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="rnc_operador_ADD" class="label">RNC operador</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="rnc_operador_ADD" id="rnc_operador_ADD"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>

                                            <!-- ppm_atual -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="ppm_atual_ADD" class="label">PPM atual</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="ppm_atual_ADD" id="ppm_atual_ADD"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>

                                            <!-- ppm_acumulado -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="ppm_acumulado_ADD" class="label">PPM acumulado</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="ppm_acumulado_ADD" id="ppm_acumulado_ADD"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- observacoes -->
                                        <div class="row">                                            
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="observacoes_ADD" class="label">Observações</label>
                                                    <textarea class="form-control form-control-sm" name="observacoes_ADD"
                                                        id="observacoes_ADD" placeholder="Observações diversas relacionadas a qualidade"
                                                        rows="6"></textarea>
                                                </div>
                                            </div>
                                        </div>                                        

                                    </div>
                                    <!-- Botões -->
                                    <div class="modal-footer justify-content-between">
                                        <button type="submit" class="btn btn-primary" id="btnSalvar_ADD">&nbsp;&nbsp;Salvar&nbsp;&nbsp;</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- ######################################################################### Modal para EDITAR -->
                    <div class="modal fade" id="modalEDIT" data-backdrop="static">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <!-- Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Editar</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <!-- Conteúdo central do modal -->
                                <form role="form" action="/editQualidade/ <?= document.getElementById('cod_EDIT').value ?>" method="post" enctype="multipart/form-data">
                                    <!-- Campos do formulário -->
                                    <div class="modal-body">                                        
                                        <div class="row">
                                            <!-- Cod -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="cod_EDIT" class="label">Cod</label>
                                                    <input type="text" class="form-control form-control-sm" name="cod_EDIT" id="cod_EDIT" placeholder="Cod" readonly=“true”>
                                                </div>
                                            </div>

                                            <!-- Data -->
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="data_EDIT" class="label">Data</label>
                                                    <div class="input-group date" id="data_EDIT"
                                                        data-target-input="nearest">
                                                        <input type="text"
                                                            class="form-control form-control-sm datetimepicker-input date_times"
                                                            data-target="#data_EDIT"
                                                            name="data_INPUT_EDIT"
                                                            id="data_INPUT_EDIT" required />
                                                        <div class="input-group-append"
                                                            data-target="#data_EDIT"
                                                            data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Turno -->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="turno_EDIT" class="label">Turno</label>
                                                    <select class="form-control form-control-sm select2"
                                                        style="width: 100%;" name="turno_EDIT" id="turno_EDIT" required>
                                                        <option value="">-- Selecione --</option>
                                                        <option value="T1">T1</option>
                                                        <option value="T2">T2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Quantidades -->
                                        <div class="row">
                                            <!-- avaria_interna -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="avaria_interna_EDIT" class="label">Avaria interna</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="avaria_interna_EDIT" id="avaria_interna_EDIT"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>

                                            <!-- rnc_operador -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="rnc_operador_EDIT" class="label">RNC operador</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="rnc_operador_EDIT" id="rnc_operador_EDIT"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>

                                            <!-- ppm_atual -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="ppm_atual_EDIT" class="label">PPM atual</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="ppm_atual_EDIT" id="ppm_atual_EDIT"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>

                                            <!-- ppm_acumulado -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="ppm_acumulado_EDIT" class="label">PPM acumulado</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="ppm_acumulado_EDIT" id="ppm_acumulado_EDIT"
                                                        placeholder="Qtde">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- observacoes -->
                                        <div class="row">                                            
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="observacoes_EDIT" class="label">Observações</label>
                                                    <textarea class="form-control form-control-sm" name="observacoes_EDIT"
                                                        id="observacoes_EDIT" placeholder="Observações diversas relacionadas a qualidade"
                                                        rows="6"></textarea>
                                                </div>
                                            </div>
                                        </div>                                        

                                    </div>

                                    <!-- Botões -->
                                    <div class="modal-footer justify-content-between">
                                        <button type="submit" class="btn btn-primary" id="btnSalvar_EDIT">&nbsp;&nbsp;Salvar&nbsp;&nbsp;</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- ######################################################################### Modal para ELIMINAR -->
                    <div class="modal fade" id="modalDEL" id="modal-danger" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content bg-danger">
                                <div class="modal-header">
                                    <h4 class="modal-title">Atenção!</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Tem certeza que deseja eliminar o registro selecionado?</p>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">
                                        Não, cancelar
                                    </button>

                                    <!-- Esse span é oculto pois apenas recebe o texto contendo 
                                         o cod para eliminação na função abaixo -->
                                    <span style="display:none" id="cod_DEL"></span>

                                    <!-- Função anónima dentro da classe button
                                         que direciona para a route /delete/:id após o usuário clicar em sim no modal -->
                                    <button type="button" class="btn btn-outline-light" onclick="(function() {
                                        window.location = '/delQualidade/' + document.getElementById('cod_DEL').textContent;
                                        })()" id="btnDeletar_DEL">
                                        Sim, eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Grava o texto recebido da variável status_Crud do routes/usuario
           lá no "tails.ejs" tem uma função no final que verifica o que tem neste span"
           e dispara uma função de alerta do toastr de acordo com o texto -->
<span style="display:none" id='status_Crud'><%= status_Crud %></span>